<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/tweets" method="post">
      <textarea name="tweetText" rows="8" cols="80"></textarea>
      <button type="submit" name="tweetButton">Tweet</button>
    </form>
  </body>
</html>
